@model SleekPredictionPunter.Model.Matches.Match

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create Match</h2>

<hr />
<div class="row">
    <div class="col-11">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label asp-for="ClubAId" class="control-label"></label>
                <select asp-for="ClubAId" class="form-control" asp-items="ViewBag.ClubAId"></select>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label asp-for="ClubBId" class="control-label"></label>
                <select required asp-for="ClubBId" class="form-control" asp-items="ViewBag.ClubBId"></select>
            </div>
            
            <div class="col-md-6 col-lg-4 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label class="control-label">Match Category</label>
                <select required asp-for="MatchCategoryId" class="form-control" asp-items="ViewBag.MatchCategoryId"></select>
            </div>
            
            <div class="col-md-6 col-lg-4 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label  class="control-label"> Sport Category</label>
                <select required asp-for="CustomCategoryId" class="form-control" asp-items="ViewBag.CustomCategoryId"></select>
            </div>
          
            <div class="col-md-6 col-lg-4 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label  class="control-label"> Time Of Match</label>
                <input required asp-for="TimeofMatch" class="form-control" />
                <span asp-validation-for="TimeofMatch" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-6 col-lg-4 col-xl-3 col-sm-6 col-xs-12 form-group" style="margin-top:25px">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="IsSetAsHotPreview"/> @Html.DisplayNameFor(model => model.IsSetAsHotPreview)
                    </label>
                </div>
            </div>
            <hr/>
            <div class="col-12 form-group">
                <div class="col-4" style="margin-left:25px">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div> <br/>
                <div>
                    <a asp-action="Index">Back to Matches</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
