@model SleekPredictionPunter.Model.Withdrawal

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Agent Username</label>
                <input readonly asp-for="AgentUsername" class="form-control" />
                <span asp-validation-for="AgentUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Amount</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Withdrawal Status</label>
                <select asp-for="WithdrawalStatus" asp-items="ViewBag.WithdrawalStatusId" class="form-control"></select>
                <span asp-validation-for="WithdrawalStatus" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input readonly asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

