<!--Banner Begin-->
<div class="banner">
	<div class="container">
		<div class="banner-content">
			<div class="row justify-content-xl-start justify-content-lg-center justify-content-md-center">
				<div class="col-xl-7 col-lg-11 col-md-10 col-12 d-xl-flex d-lg-flex d-block align-items-center">
					<div class="text-content">
						<h1>Prediction on the great sports.</h1>
						<h4>that Coral offers for Football today.</h4>
						<p>We're football fanatics and inside our prediction hub you'll find all manner of game prediction, aids and insights on everything the game has to offer.</p>
						<div class="banner-button">
							<ul>
								<li>
									<a href="#" class="bet-btn bet-btn-base">Predict now</a>
								</li>
								<li>
									<a href="#" class="bet-btn bet-btn-border">explore more</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-lg-4">
					<div class="banner-img">
						<img src="~/FrontendTheme/assets/img/banner-img-2.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->
