@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User) || Context.Session.GetString("userEmail") !=null)
{
    <ul class="navbar-nav">
        <li class="link">
            <a id="manage" class="nav-link" style="color:white;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @Context.Session.GetString("userName")</a>
            @*<a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>*@
        </li>
        <li class="link">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" style="color:white;" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    </ul>
}

else
{
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-3 col-sm-3">
                <a class="nav-link" style="color:white;" id="register" asp-area="Identity" asp-page="/Account/Register"><b>Register</b></a>
            </div>

            <div class="col-xl-3 col-md-3 col-sm-3">
                <a class="nav-link" id="login" style="color:white;" asp-area="Identity" asp-page="/Account/Login"><b>Login</b></a>
            </div>
        </div>
    </div>
    @*<li>
            <a class="nav-link" style="color:white;" id="register" asp-area="Identity" asp-page="/Account/Register"><b>Register</b></a>
        </li>
        <li>
            <a class="nav-link" id="login" style="color:white;" asp-area="Identity" asp-page="/Account/Login"><b>Login</b></a>
        </li>*@
}
