// cta
.cta {
    padding: 60px 0;
    background: url('../img/cta.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: -1;
        opacity: .9;
    }
    h3 {
        color: $white;
        font-size: 30px;
        text-transform: capitalize;
        font-style: italic;
        text-align: center;
        font-weight: 500;
    }
    .cta-btn-group {
        text-align: center;
        margin-top: 30px;
        a {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}