@model SleekPredictionPunter.Model.PricingPlan.PlanBenefitQuestionsModel

@{
    ViewData["Title"] = "PaymentCallBack";
    Layout = null;
}

<div class="container">
    <div class="panel">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12">

               

            </div>
        </div>
    </div>
</div>

<style>
    body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="jumbotron">
        @if (ViewBag.Message.ToString().Contains("Success"))
        {
            <span> <i class="fa fa-check-circle"></i></span>
            <h1 style="color:forestgreen">Package subscription was successful!!!</h1>
            <br />
            <p><a class="btn btn-lg btn-success" href="/" role="button">Return to Home</a></p>
        }
        else
        {
            <span><i class="fa fa-times-circle"></i></span>
            <h1 style="color:red">Could process your request.<br /> Please, try again <br />or Contact the system administrator</h1>
            <br />
            <p><a class="btn btn-lg btn-success" href="/pricingplan/index" role="button">Go back</a></p>
        }
    </div>
</div> <!-- /container -->