@model SleekPredictionPunter.Model.HomeDataModels.WinningPlanPreviewSummary

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update the Plan Summary to Preview</h2>

<br/>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label class="control-label">Plan Details Paragraph1 Description</label>
                <textarea asp-for="Paragraph1Description" class="form-control"></textarea>
                <span asp-validation-for="Paragraph1Description" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label class="control-label">Plan Details Paragraph2 Description</label>
                <textarea asp-for="Paragraph2Description" class="form-control"></textarea>
                <span asp-validation-for="Paragraph2Description" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label class="control-label"> Plan Details Paragraph3 Description</label>
                <textarea asp-for="Paragraph3Description" class="form-control"></textarea>
                <span asp-validation-for="Paragraph3Description" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label class="control-label">Advert Action Message</label>
                <textarea asp-for="AdvertActionMessage" class="form-control"></textarea>
                <span asp-validation-for="AdvertActionMessage" class="text-danger"></span>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label class="control-label">Select Rating</label>
                <select asp-for="RatingValue" asp-items="ViewBag.RatingId" class="form-control"></select>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 col-xs-12 form-group">
                <label class="control-label"> Select Package</label>
                <select asp-for="PricingPlanId" asp-items="ViewBag.PricingPlanId" class="form-control"></select>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 col-xs-12 form-group" style="margin-top:28px">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="SetforHomePreview" /> @Html.DisplayNameFor(model => model.SetforHomePreview)
                    </label>
                </div>
            </div>
            <div > <input type="hidden" asp-for="Id" /></div>
            <p> &nbsp; </p>
            <div class="row">
                <div class="col-12 form-group">
                    &nbsp; &nbsp; <input type="submit" value="Update Details" class="btn btn-success" />
                    @* <a asp-action="Index" class="link" style="margin:15px">Back to Matches</a>*@
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
