@model SleekPredictionPunter.Model.Prediction

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h2>Edit</h2>

<h4>Prediction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PredictorUserName" class="control-label"></label>
                <input asp-for="PredictorUserName" class="form-control" />
                <span asp-validation-for="PredictorUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubA" class="control-label"></label>
                <input asp-for="ClubA" class="form-control" />
                <span asp-validation-for="ClubA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubALogoPath" class="control-label"></label>
                <input asp-for="ClubALogoPath" class="form-control" />
                <span asp-validation-for="ClubALogoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubB" class="control-label"></label>
                <input asp-for="ClubB" class="form-control" />
                <span asp-validation-for="ClubB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubBLogoPath" class="control-label"></label>
                <input asp-for="ClubBLogoPath" class="form-control" />
                <span asp-validation-for="ClubBLogoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredictionValue" class="control-label"></label>
                <input asp-for="PredictionValue" class="form-control" />
                <span asp-validation-for="PredictionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeofFixture" class="control-label"></label>
                <input asp-for="TimeofFixture" class="form-control" />
                <span asp-validation-for="TimeofFixture" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntityStatus" class="control-label"></label>
                <select asp-for="EntityStatus" class="form-control"></select>
                <span asp-validation-for="EntityStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

