@model SleekPredictionPunter.Model.Subscriber

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="register">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-8">
                    <div class="section-title">
                        <h2>Subscriber / Create</h2>
                       </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-9">
                    <div class="sign-up-step">
                        <ul>
                            <li class="active">
                                <span class="icon">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="user-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-user-circle fa-w-16 fa-fw fa-2x"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z" class=""></path></svg>
                                </span>
                                <span class="text">Subscriber Details</span>
                            </li>

                        </ul>
                    </div>
                    <div class="all-form">
                        <div class="single-form" id="first-step">

                            <form asp-action="Create" class="form-inline" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group col-md-6">
                                    <label asp-for="TenantUniqueName" class="control-label"></label>
                                    <input asp-for="TenantUniqueName" class="form-control" />
                                    <span asp-validation-for="TenantUniqueName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderEnum>()" class="form-control"></select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="BrandNameOrNickName" class="control-label"></label>
                                    <input asp-for="BrandNameOrNickName" class="form-control" />
                                    <span asp-validation-for="BrandNameOrNickName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Country" class="control-label"></label>
                                    <input asp-for="Country" class="form-control" />
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="State" class="control-label"></label>
                                    <input asp-for="State" class="form-control" />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="City" class="control-label"></label>
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Street" class="control-label"></label>
                                    <input asp-for="Street" class="form-control" />
                                    <span asp-validation-for="Street" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
            </div>
        </div>


