@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- breadcrumb begin -->
<div class="breadcrumb-bettix register-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Login</h2>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            Login
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- login begin -->
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>Login</h2>
                    @*<p>Bettix is the most advanced sports trading & affialiate platform and highest stakes across multiple bookmakers and exchanges.</p>*@
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="login-form">
                    <form id="account" method="post">
                        <input type="hidden" id="loginType" name="loginType" value="1" />
                        <div class="form-group">
                            <input type="email" asp-for="Input.Email" placeholder="Enter Your Mail/ Username">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="Input.Password" placeholder="Enter Your Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group justify-content-center">
                            &nbsp;&nbsp;
                            <button type="submit">Sign-In</button>
                            &nbsp;|&nbsp;
                            <button type="submit"><a style="color:white" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign-Up</a></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="wrapper">
                    <form id="account" method="post">
                        <div class="dropdown center-align">
                            <input type="hidden" id="loginType" name="loginType" value="2" />
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button class="btn btn-success dropdown-toggle" type="button" name="provider" value="@provider.Name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @provider.DisplayName
                                </button>
                            }
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button value="2" class="dropdown-item" name="userType">As Subscriber</button>
                                <button value="4" class="dropdown-item" name="userType">As Agent</button>
                                <button value="3" class="dropdown-item" name="userType">As Predictor</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
