@model SleekPredictionPunter.AppService.AdvertPlacements.Dto.AdverPlacementDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create>Advert Placement</h2>

<hr />
<div class="row">
    <div class="col-md-10 col-sm-11 col-lg-10">
        <form asp-action="Create" enctype="multipart/form-data">

            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 form-group">
                    <label asp-for="AdverTitle" class="control-label"></label>
                    <input required asp-for="AdverTitle" class="form-control" />
                    <span asp-validation-for="AdverTitle" class="text-danger"></span>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 form-group">
                    <label asp-for="AdvertCaption" class="control-label"></label>
                    <input asp-for="AdvertCaption" class="form-control" />
                    <span asp-validation-for="AdvertCaption" class="text-danger"></span>
                </div>

                <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 form-group">
                    <label class="control-label">Description</label>
                    <input required asp-for="AdvertDescription" class="form-control" />
                    <span asp-validation-for="AdvertDescription" class="text-danger"></span>
                </div>

                <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 form-group">
                    <label asp-for="AdImageFile" class="control-label"></label>
                    <input required type="file" asp-for="AdImageFile" class="form-control" />
                    <span asp-validation-for="AdImageFile" class="text-danger"></span>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 form-group">
                    <label class="control-label">Select Advert Section</label>
                    <select required asp-for="AdvertSection" asp-items="ViewBag.AdSectionId" class="form-control" ></select>
                    
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 form-group">
                    <label asp-for="AdLink" class="control-label"></label>
                    <input required asp-for="AdLink" class="form-control" />
                    <span asp-validation-for="AdLink" class="text-danger"></span>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-5 col-sm-12 col-xs-12 form-group">
                    <label class="control-label">Link Button Text</label>
                    <input  asp-for="ButtonText" class="form-control" />
                    <span asp-validation-for="AdLink" class="text-danger"></span>
                </div>

            </div>
          
            <div class="row">
                <div class="col-12 form-group">
                    <div style="margin-left:5px">
                        &nbsp; &nbsp; <input type="submit" value="Create" class="btn btn-success" />
                    </div> 
                    <div>
                        &nbsp; &nbsp; <a asp-action="Index">Back to AdvertPlacements</a>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
