        <!-- download app begin -->
        <div class="download-app">
            <div class="container">
                <img class="shape" src="~/FrontendTheme/assets/img/app-feature-bg.png" alt="">
                <div class="row justify-content-xl-between justify-content-lg-between justify-content-md-center">
                    <div class="col-xl-5 col-lg-5">
                        <div class="part-img">
                            <img class="app" src="~/FrontendTheme/assets/img/mobile_with_hand_500by1014_transparent.png" alt="">
                            <img class="app" src="~/FrontendTheme/assets/img/mobile_with_hand_500by1014_transparent.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-10 d-xl-flex d-lg-flex d-block align-items-xl-baseline align-items-lg-center">
                        <div>
							<div class="part-text">
								<h4>enjoy your favourites right now</h4>
								<h3>download our app</h3>
								<p>Predictions you love anywhere on the go, with you on mobile. <span><img src="~/FrontendTheme/assets/img/logo.png" alt=""></span>  Download freely at no additional cost, exclusively for Predictive Power customers. It comes with with cross platform abilities . You can get to download <span><img src="~/FrontendThemeassets/img/small-logo.png" alt=""></span> on google play store an apple mobile store.</p>
								@*<ul>
									<li>
										<a href="#">
											<img src="~/FrontendTheme/assets/img/apple.png" alt="">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="~/FrontendTheme/assets/img/and.png" alt="">
										</a>
									</li>
								</ul>*@
							</div>
                            <div class="app-features">
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="~/FrontendTheme/assets/img/svg/ram.svg" alt=" Cross Platform">
                                    </div>
                                    <span class="title">
                                        Cross Platform
                                    </span>
                                </div>
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="~/FrontendTheme/assets/img/svg/memory-card.svg" alt="Lite Weigth">
                                    </div>
                                    <span class="title">
                                        Lite Weigth and EasytoUse
                                    </span>
                                </div>
                                <div class="single-feature">
                                    <div class="part-icon">
                                        <img src="~/FrontendTheme/assets/img/svg/dark-and-light.svg" alt="Eye Efficient Theme">
                                    </div>
                                    <span class="title">
                                        Nice Themes
                                    </span>
                                </div>
                                @*<div class="single-feature">
                                    <div class="part-icon">
                                        <img src="~/FrontendTheme/assets/img/svg/easy-return.svg" alt=" Easy to use">
                                    </div>
                                    <span class="title">
                                        Easy to use
                                    </span>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- download app end -->
