@{
    ViewData["Title"] = "Home Page";
}

<!-- about begin -->
<div class="about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-8 col-lg-8">
                <div class="part-img">
                    <img src="assets/img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex d-block align-items-center">
                <div>
                    <div class="part-text">
                        <h2>Introducing Our Words</h2>
                        <p>The bigger the sports event the more interest, excitement and media attention on the action. And the more betting markets we have available here at Peredion to turn your opinions into winning bets. And few events come any bigger than the World Cup and the Olympics.</p>
                    </div>
                    <a href="#" class="about-btn">Predict Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->
<!-- cta begin -->
<div class="cta">
    <div class="container">
        <h3>PerediOn shows real time odds for betting with the higher stakes you can get.</h3>
        <div class="cta-btn-group">
            <a href="#" class="bet-btn bet-btn-base">Predict Now</a>
            <a href="#" class="bet-btn bet-btn-border">Explore More</a>
        </div>
    </div>
</div>
<!-- cta end -->
<!-- feature begin -->
<div class="feature" id="feature_section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>PerediOn Features</h2>
                    <p>PerediOn shows real time odds for betting with the higher stakes you can get. We place your bets in various bMakers to do highest liquidity</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="assets/img/svg/music-and-multimedia.svg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Live Prediction</h3>
                        <p>PerediOn has a quality in-play Prediction service and the live console has extensive coverage from sporting events and prediction markets.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="assets/img/svg/announcement.svg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Daily Promotions</h3>
                        <p>PerediOn offers a huge range of different promotions, every day. These include money-back offers when your horse is beaten by a nose.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="assets/img/svg/usability.svg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Clean Usability</h3>
                        <p>More than a single feature, usability is an aspect that affects the whole product. For us, that means an intuitive interface that is easy to use.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="assets/img/svg/browser.svg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Prediction browser</h3>
                        <p>PerediOn on an arbitrage or value predict is extremely easy. All the information you need is gathered on one single Prediction Browser using the software.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="assets/img/svg/exchange.svg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Currency Conversion</h3>
                        <p>Automatic currency conversion is built in. You can use different currencies on different bookmakers and we’ll do all the math for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-feature">
                    <div class="part-icon">
                        <img src="assets/img/svg/key-card.svg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">High Security</h3>
                        <p>Our security measures are way above the norm in the software industry. First, starting the program requires a master password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature end -->
<!-- betting begin -->
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix result-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Result</h2>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            Result
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- betting end -->
<!-- upcoming match begin -->
<div class="upcoming-match" id="upcoming_match">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>Upcoming Match</h2>
                    <p>PerediOn shows real time odds for betting with the higher stakes you can get. We place your bets in various bMakers to do highest liquidity</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="single-match">
                    <div class="part-head">
                        <h5 class="match-title">BBPL 2019 Semi Final</h5>
                        <span class="match-venue">Venue : Sher-e-Bangla National Stadium. Mirpur, Dhaka</span>
                    </div>
                    <div class="part-team">
                        <div class="single-team">
                            <div class="logo">
                                <img src="assets/img/team-1.png" alt="">
                            </div>
                            <span class="team-name">Khulna Tigers</span>
                        </div>
                        <div class="match-details">
                            <div class="match-time">
                                <span class="date">Fri 09 Oct 2019</span>
                                <span class="time">09:00 am</span>
                            </div>
                            <span class="versase">vs</span>
                            <div class="buttons">
                                <a href="#" class="buy-ticket bet-btn bet-btn-dark-light">buy ticket</a>
                            </div>
                        </div>
                        <div class="single-team">
                            <div class="logo">
                                <img src="assets/img/team-2.png" alt="">
                            </div>
                            <span class="team-name">Dhaka Platoon</span>
                        </div>
                    </div>
                    <span class="to-begin-time">
                        Starting on
                    </span>
                    <div class="part-timer timer" data-date="30 April 2020 9:56:00 GMT+01:00">
                        <div class="single-time">
                            <span class="number day">01</span>
                            <span class="title">Days</span>
                        </div>
                        <div class="single-time">
                            <span class="number hour">24</span>
                            <span class="title">Hours</span>
                        </div>
                        <div class="single-time">
                            <span class="number minute">48</span>
                            <span class="title">Minutes</span>
                        </div>
                        <div class="single-time">
                            <span class="number second">11</span>
                            <span class="title">Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="upcoming-match-list">
                    <div class="single-upcoming-match">
                        <div class="single-team">
                            <div class="part-logo">
                                <img src="assets/img/team-1.png" alt="">
                            </div>
                            <div class="part-text">
                                <span class="team-name">
                                    Khulna tigers
                                </span>
                            </div>
                        </div>
                        <span class="versase">vs</span>
                        <div class="single-team">
                            <div class="part-text">
                                <span class="team-name">
                                    dhaka platoon
                                </span>
                            </div>
                            <div class="part-logo">
                                <img src="assets/img/team-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="single-upcoming-match">
                        <div class="single-team">
                            <div class="part-logo">
                                <img src="assets/img/team-3.png" alt="">
                            </div>
                            <div class="part-text">
                                <span class="team-name">
                                    Cumilla Viking
                                </span>
                            </div>
                        </div>
                        <span class="versase">vs</span>
                        <div class="single-team">
                            <div class="part-text">
                                <span class="team-name">
                                    Barishal Bulls
                                </span>
                            </div>
                            <div class="part-logo">
                                <img src="assets/img/team-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="single-upcoming-match">
                        <div class="single-team">
                            <div class="part-logo">
                                <img src="assets/img/team-5.png" alt="">
                            </div>
                            <div class="part-text">
                                <span class="team-name">
                                    CG challenge
                                </span>
                            </div>
                        </div>
                        <span class="versase">vs</span>
                        <div class="single-team">
                            <div class="part-text">
                                <span class="team-name">
                                    r.shahi royals
                                </span>
                            </div>
                            <div class="part-logo">
                                <img src="assets/img/team-6.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="single-upcoming-match">
                        <div class="single-team">
                            <div class="part-logo">
                                <img src="assets/img/team-7.png" alt="">
                            </div>
                            <div class="part-text">
                                <span class="team-name">
                                    Khulna tigers
                                </span>
                            </div>
                        </div>
                        <span class="versase">vs</span>
                        <div class="single-team">
                            <div class="part-text">
                                <span class="team-name">
                                    dhaka platoon
                                </span>
                            </div>
                            <div class="part-logo">
                                <img src="assets/img/team-8.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="vew-more-news bet-btn bet-btn-dark-light">
                <i class="fas fa-redo"></i> See More match
            </a>
        </div>
        <span class="text-special">
            <b>Note:</b>  The timing of each match will depend on the weather conditions.
        </span>
    </div>
</div>
<!-- upcoming match end -->
<!-- statics begin -->
<div class="statics">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter">
                    <span class="number odometer" data-count="1854">0000</span>
                    <span class="title">Project Finished</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter">
                    <span class="number odometer" data-count="3254">0000</span>
                    <span class="title">Line Of Coding</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter">
                    <span class="number odometer" data-count="584">000</span>
                    <span class="title">Award Won</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter">
                    <span class="number odometer" data-count="1731">0000</span>
                    <span class="title">Satisfied Clients</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- statics end -->
<!-- testimonial begin -->
<div class="testimonial" id="testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7">
                <div class="section-title">
                    <h2>Feedback to PerediOn</h2>
                    <!-- <p>PerediOn shows real time odds for betting with the higher stakes you can get. We place your bets in various bMakers to do highest liquidity</p> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="single-testimonial">
                        <div class="part-img">
                            <img src="assets/img/testi-user-1.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="part-img">
                            <img src="assets/img/testi-user-1.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="part-img">
                            <img src="assets/img/testi-user-1.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial end -->

<div>
	@section bannersection{
		<partial name="_BannerPartial"/>
	}
</div>
