@{
	ViewData["Title"] = "Privacy Policy";
}
<div class="breadcrumb-bettix contact-page" >
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-7">
					<div class="breadcrumb-content">
						<h1 style="color:white"> <strong style="font-weight:bolder">PRIVACY/TERMS & CONDITIONS</strong> </h1>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="container">
	<div class="about-site" style="width:100%; font-size:inherit; overflow-wrap:break-word">
		<pre class="about" style="font-family:inherit; font-size:1.2em; padding:10px; overflow-wrap:break-word">

 <strong style="color:darkred"> PREDICTIVE POWER TERMS & CONDITIONS </strong>

 1.0 <strong>INTRODUCTION AND ACCEPTANCE OF TERMS OF USE </strong>


By using this Website and/or creating an account and becoming a User, You accept and agree to all terms, conditions and notices contained or referenced on the Website (“Terms of Use”). Please read the following Terms of Use carefully. If You do not agree to the Terms of Use, do not use this Website and Services. By accessing, using, or downloading in any way, without limitation, any service from this Website, or merely browsing this Website, You agree to and are bound by these Terms of Use.
Please read the Terms carefully and if you do not accept the Terms, do not use the Website or subscribe to our VIP OR VVIP plan. The Terms shall apply to all PREDICTIVEPOWER.com sites.
These Terms and our conditions are subject to change from time to time for a number of reasons (including complying with applicable laws and regulations, and regulatory requirements, as well as we, deem fit in order to satisfy our users). As changes would be made, you are therefore advised to review the Terms on a regular basis. All major updates on the Terms and conditions and their dates of effect would be posted on the site. Should you have any issues or should any change made be unacceptable, please you are thereby advised to close your account with us and desist from playing our picks and predictions. However, subscribing to Predictivepower.com as well as playing our picks indicate an agreement with our Terms and Conditions and our policies.
Please note that references used such as “you”, “your” or the “user” refers to any person using the website or the services of Predictivepower.com and/or any of our affiliated sites as well as all subscribers while “we” “our” and “Predictivepower.com” refers to Predictivepower and its management.
Please beware that right and access to Predictivepower.com as well as all our affiliates (Predictivepower.com, www.facebook.com/Predictivepower, twitter.com) may be illegal in certain countries. You are therefore responsible for determining whether your access and use of the Website is not prohibited and is compliant with applicable laws, regulations and abiding policies in your jurisdiction.
Predictivepower is committed to providing excellent user service. By providing excellent service we ensure that we give a reasonable guarantee on our predictions and ensure that risks are reduced to their lowest minimum. As part of our commitment, Predictivepower is committed to supporting responsible gambling. We advise that all users are 18+. Although Predictivepower will use its reasonable endeavours to enforce its responsible gambling policies. We refuse to accept any responsibility or liability if any user uses the Predictivepower.com and its affiliate site with the intention of deliberately avoiding the relevant measures, laws, policies, and regulations in place.

<strong>
ELIGIBILITY
</strong>

To be eligible to register and create an account, it must be lawful for You to receive and pay for the Service at least in Your Jurisdiction , and in any case You must at least 18 years old and not be a firm, business entity, institution or other legal entity. By using this Website and Services, You represent and warrant that You have the right, authority and capacity to enter into this agreement and to abide by all of these Terms of Use. Predictivepower reserves the right, in its sole and absolute discretion, to refuse service and access to any potential participant. Employees, officers, directors, investors, agents, and representatives of Predictivepower and their parent, affiliates and subsidiaries, and each of their respective immediate family (defined as parents, spouse and children) and any person residing in the same household as such and sponsors and affiliates and advertising and promotion agencies of Predictivepower are NOT ELIGIBLE to use or create an account on the Website.

<strong>
ACCOUNT RESPONSIBILITY
</strong>

When you create Your Account, You represent that You meet all requirements. 
You agree to;-
(a) provide true, accurate, current and complete information about yourself as prompted by the Predictivepower’s registration form and 
(b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. 
If You provide any information that is untrue, inaccurate, not current or incomplete, or Predictivepower has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Predictivepower has the right to suspend or terminate Your Account. You are responsible for paying all fees and charges (including applicable taxes) associated with the use of the Website and Service under Your account.

<strong>
NON-DISCLOSURE
</strong>

Once You have selected or been allocated a unique username and password (“User ID”) for Your account, it is Your responsibility to keep these User ID secure and confidential. In the event that You are concerned that Your User ID are no longer secure and confidential, You should immediately notify Predictivepower by sending an email , whereupon new User ID may be selected and allocated and any future transactions under the previous User ID may be voided, at the sole discretion of Predictivepower. Without limiting the foregoing, any transactions made and accepted on the Website where Your User ID have been used (and where You have not previously notified Bet tips as provided herein) will be treated as valid.

<strong>
PERSONAL USE
</strong>

Only one account is allowed per person. Your account is not transferable. Under no circumstances shall You allow or permit any other person, including without limitation any person under the legal age to use the Services in Your applicable Jurisdiction, and in no event any person under the age of 18, to use Your Account or Your User ID in such a way that may breach the standards or laws in any Jurisdiction where You are located and/or are a resident, or where such other person is located and/or is a resident. Any person found to have violated this section may be reported to the relevant authorities.

<strong>
PRICE AND PAYMENT
</strong>
The User will be charged for the Services according to the prices (rates) and in the currencies indicated on the Website.
The User can pay for the Service by any of two followings ways:
•	By credit units on his/her virtual balance in his/her account, created after registration on the Website. The virtual balance must be filled up in advance by payment.
•	Direct payment with bank card or other means of payment accepted by the Website, with or without registration on the Website (hereinafter referred to as “Fast Checkout”).
You are responsible for paying all fees, charges and taxes associated with the receipt of the Service and other services from Predictivepower, including payment for purchases made through the Website. Unless otherwise stated, payment of all fees and charges must be made by a credit, debit or charge card, valid at the time of purchase and which You are legally entitled to use. Predictivepower does not offer returning funds if happen match to lose, all you see in the website it is just marketing.

YOUR PREDICTIVEPOWER.COM  VIP AND VVIP PLAN SUBSCRIPTION
All users must be over 18+ years to subscribe to the Predictivepower.com VIP plan. Predictivepower.com reserves the right to ask for proof of age from any user and suspend their subscription until satisfactory documentation is provided. Predictivepower.com takes its responsibilities in respect of under-age and responsible gambling very seriously.
Predictivepower.com will confirm a user’s subscription by posting Whatsapp or email verification to the user. Users only get correspondence after Whatsapp or email verifications have been confirmed. Please note that Predictivepower.com does not request user’s information on the verifications of subscriptions except for the user’s name or email address.
By accepting the Terms and subscribing to use the Website and Predictions you hereby agree that we shall be entitled to conduct identification, credit and verification checks periodically that are required by applicable laws and regulations and relevant regulatory authorities for use of the Website and our Services generally. Also by subscribing you agree to provide all such information as we require in connection with such verification checks. We shall be entitled to suspend or restrict accounts of users in any manner that we may deem in our absolute discretion to be appropriate until the relevant checks are completed to our satisfaction.
Users are not allowed to give out a subscription link to a third party. Information accessed by you on Predictivepower.com platform (including results, predictions, and odds) is for your personal use only and the distribution or commercial exploitation of such information is strictly prohibited. Should we identify any subscriber or user reposting and sharing exclusive information explicitly, we reserve the right to cancel the subscription of such subscribers where necessary.
Subscribers are advised not to leave or exit the Whatsapp or Telegram group without the admin’s permission, such action will automatically cancel your subscription and you will not be given access to the group except you pay for a new subscription.
PREDICTIONS AND PICKS
Picks and Accumulations
We provide the best possible predictions and ensure that we reduce the betting risk of our subscribers to the barest minimum.
We are therefore not responsible for failing outcomes of matches as all predictions and match analysis end before the match is played and final outcomes are decided on the pitch. Information on the website or affiliated social media channels should not be relied upon absolutely when placing bets and making picks. Bets are ultimately made at the user’s own risk and discretion.

<strong>
OUR LIABILITY
</strong>
Predictivepower.com does not accept any responsibilities for any damages, liabilities or losses which are deemed or alleged to have arisen out of or in connection with services, picks, and predictions on the Website or its affiliates.
User expressly agrees that use of the Website and Services is done at User’s sole risk.

While Predictivepower endeavors to ensure that the information on the Website is correct, Predictivepower.com does not give 100% guarantee of the accuracy or completeness of the information and material on the Website or affiliated social media channels. The Website may contain typographical errors or other inaccuracies, or information that is out of date. Predictivepower.com is under no obligation to update such material. The information and material on the Website are provided “as is”, without any conditions, warranties or other terms of any kind.
Predictivepower.com is not a bookmaker or a betting company and does not collect bets. Our predictions are to serve as a guide, help or at best recommendations. our predictions are subject to errors even as we try to make them as accurate as possible. Predictions must be considered as recommendations and not incitement to bet.

<strong>
OUR INTELLECTUAL PROPERTY RIGHTS
</strong>
The contents of the Website are protected by international copyright laws and other intellectual property rights. The owner of these rights is Predictivepower.com, its affiliates or other third party licensors.
Any commercial use or exploitation of the Website or its content is strictly prohibited.

<strong>
OTHER PROVISIONS
</strong>

These Terms and Conditions, the Privacy Policy, the Cookies Policy, the Rules, and any document expressly referred to in them and any guidelines or rules posted on the Website constitute the entire agreement and understanding of the parties and supersede any previous agreement between the parties relating to their subject matter. You acknowledge and agree that in entering into and agreeing to these Terms and Conditions, the Privacy Policy, the Cookies Policy, the Rules, and any document expressly referred to in them and any guidelines or rules posted on the Website you do not rely on, and shall have no remedy in respect of, any statement,
 representation, warranty, understanding, promise or assurance (whether negligently or innocently made) of any person (whether party to this agreement or not) other than as expressly set out therein. Nothing in this clause shall operate to limit or exclude any liability for fraud or fraudulent misrepresentation.
In no event will any delay, failure or omission (in whole or in part) in enforcing, exercising or pursuing any right, power, privilege, claim or remedy conferred by or arising under these Terms and Conditions or by law, be deemed to be or construed as a waiver of that or any other right, power, privilege, claim or remedy in respect of the circumstances in question, or operate so as to bar the enforcement of that, or any other right, power, privilege, claim or remedy, in any other instance at any time or times subsequently.
If any provision of these Terms and Conditions is found by any court or administrative body of competent jurisdiction to be invalid or unenforceable, such invalidity or unenforceability shall not affect the other provisions of these Terms and Conditions which shall remain in full force and effect.
Nothing in these Terms and Conditions shall create or be deemed to create a partnership, joint venture or principal-agent relationship between the parties and no party shall have authority to bind any other in any way unless expressly provided otherwise in these Terms and Conditions.
Predictivepower.com shall not be in breach of these Terms and Conditions nor liable for delay in performing, or failure to perform, any of its obligations if such delay or failure results from events, circumstances or causes beyond its reasonable control including (without limitation) any telecommunications network failures, power failures, failures in third party computer hardware or software, fire, lightning, explosion, flood, severe weather, industrial disputes or lock-outs, terrorist activity and acts of government or other competent authorities.
 In such circumstances, the time for performance shall be extended by a period equivalent to the period during which performance of the obligation has been delayed or failed to be performed.

<strong class="text-danger">
DISCLAIMER</strong>
Please be informed that there will be no refunds and credits are not exchangeable for cash. By opting to gain access to our football tips and also receive football predictions and tips via Whatsapp, Telegram or email, you accept that Predictivepower.com predictions and tips are for informational purposes only and that Predictivepower.com will take no responsibility for any losses incurred by you, the subscriber, as a direct result of acting upon received Predictivepower.com information. We do not encourage gambling in any sort of form. Users under 18 years old must seek parental consent.
Predictivepower.com is not a bookmaker or a betting company and does not collect bets. Our predictions are to serve as a guide, help or at best recommendations. Our predictions are subject to errors even as we try to make them as accurate as possible. Predictions must be considered as recommendations and not incitement to bet.

 <strong class="text-success">
PRIVACY POLICY</strong>
Predictivepower respects the privacy of Users. User acknowledges and agrees that this Privacy Policy settles, including, but not limited to the manner in which Predictivepower collects, uses and discloses User’s personally identifiable information, is an integral part of Terms of Use. If User does not agree to each and every part of Privacy Policy, then he/she should not use the Website or submit any personally identifiable information through this Website.

<strong class="text-success">
CONSENT
</strong>
By accepting the Privacy Policy or by using the services on the Website, you consent to the collection and use of your personal data by us for the purposes outlined above and for any other purpose which is reasonably necessary for the provision or proper administration of the Website service in accordance with the Privacy Policy.


<strong>
SIGNED PREDICTIVE POWER MANAGEMENT.
	</strong> 

</pre>
</div>
	
</div>

