@model SleekPredictionPunter.Model.PricingPlan.PlanBenefitQuestionsModel

@{
    ViewData["Title"] = "CreateNewQuestion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sn = 1;
}

<h2>Create Plan's Benefits</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <p class="text-success" style="font-size:1.3em">@ViewBag.Message</p>
        <form id="CreateNewQuestion" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label">Enter Plan's Benefit</label>
                <textarea asp-for="Question" class="form-control" rows="3" cols="5" autofocus placeholder="Example: Full Access or Extra month"></textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" /> | 
				<a href="../../pricingplan/listofplans" class="link"> Proceed to Plan Creation</a>
            </div>
        </form>

		<div class="table table-responsive" style="height:400px">
			<table class="table table-hover table-striped table-bordered">
				<thead>
					<tr>
						<th>S/N</th>
						<th>Question</th>
						<th>Date Created</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in ViewBag.Questions)
					{
						<tr>
							<td>@(sn++)</td>
							<td>@item.Question</td>
							<td> @item.DateTimeCreated</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
        
    </div>
	 
</div>


