@model SleekPredictionPunter.Model.PricingPlan.PricingPlanModel

@{
    ViewData["Title"] = "edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Editplan", "pricingplan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <section class="container-fluid" style="padding:10px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h2 class="title">Create Plan and Benefits</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" style="padding:20px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-panel">
                    <div class="row" style="padding-top:30px">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="hidden" asp-for="Id">
                                <label class="control-label">Plan Name</label>
                                <input type="text" class="form-control" required placeholder="Basic Plan" size="16" asp-for="PlanName">
                                <span class="text-danger"> </span>
                            </div>

                            <div class="col-md-4">
                                <label class="control-label">Plan price</label>
                                <input type="number" placeholder="2000.00" required class="form-control" size="16" asp-for="Price">
                                <span class="text-danger"> </span>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Plan Commission</label>
                                <input type="number" placeholder="200.00" required class="form-control" size="16" asp-for="PlanCommission">
                                <span class="text-danger"> </span>
                            </div>
                            <hr />
                            <div class="col-md-4">
                                <div>
                                    <div class="input-group-btn" style="margin-right:2px;">
                                        <button type="submit" class="btn btn-success">Update</button> &nbsp;
                                        <a href="../../pricingplan/listofplans" class="btn btn-danger">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    </div>
                </div>
            </div>
        </section>
}
